.gradle
.idea
build
run
run-data
blockbench_helper_ignored
*.psd
src/generated/resources/.cache/
*.ase
src/generated/resources/.cache/29e2815477a110d7a1bd82d08fc7d19b9354dc09
src/generated/resources/.cache/29e2815477a110d7a1bd82d08fc7d19b9354dc09
myAssets
